# 1.) Pull in Data and Convert ot Monthly

In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
apple_data = yf.download('AAPL')
df = apple_data.resample("M").last()[["Adj Close"]]

[*********************100%%**********************]  1 of 1 completed

# 2.) Create columns. 
  - Current Stock Price, Difference in stock price, Whether it went up or down over the next month,  option premium

In [3]:
df

             Adj Close
Date
1980-12-31    0.117887
1981-01-31    0.097592
1981-02-28    0.091546
1981-03-31    0.084637
1981-04-30    0.098023
...                ...
2023-09-30  170.984741
2023-10-31  170.545319
2023-11-30  189.949997
2023-12-31  192.529999
2024-01-31  182.679993

[518 rows x 1 columns]

# 3.) Pull in X data, normalize and build a LogReg on column 2

In [108]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [109]:
X = pd.read_csv("Xdata.csv", index_col="Date", parse_dates=["Date"])

In [110]:
y = df.loc[:"2023-09-30","Target"].copy()

# 4.) Add columns, prediction and profits.

# 5.) Plot profits over time

# 6.) Create a loop that stores total profits over time

# 7.) What is the optimal threshold and plot the total profits for this model.